<!DOCTYPE html>
<html>
  <head>
    <title>podcast application</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container">
        <a href="" class="brand">podcast App</a>

        <nav>
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
        </nav>
      </div>
    </header>
    <main>
      <h1>WELCOME TO PODCAST APP</h1>
    </main>
  </body>
</html>
