<!DOCTYPE html>
<html>
  <head>
    <title>podcast</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container">
        <a href="" class="brand">podcast App</a>

        <nav>
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
        </nav>
      </div>
    </header>

    <main class="container">
      <form class="form-2" action="/users/login" method="post">
        <fieldset>
          <input type="email" name="email" placeholder="Enter your email" />
          <input type="password" name="password" placeholder="Enter password" />
          <button>Login</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>